--- 
layout: default 
---
<div class="home">
    <section>
        <h1>Posts: </h1>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
