--- 
layout: default 
---
<div class="home">
    <section>
        <h1>Entries: </h1>
        <ul class="post-list">
            {% for post in site.wiki %}
            <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
