<!--<p class="site-intro">Hello, this is TextLog - another minimalist Jekyll theme by Heiswayi Nrird. TextLog provides distraction-free and content-focused layout. This section is here for any brief introduction. You may edit this section in <code>includes\intro.html</code>. If
    you use this theme as a personal blog, maybe this section works best for you bio...</p>--->