<nav>
    <a class="site-title" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a>
    <ul>
        <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
        <li><a href="{{ '/now' | prepend: site.baseurl | prepend: site.url }}">Now</a></li>
        <li><a href="https://jerebntz.gitbook.io/projects">Wiki</a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
        <li><a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a></li>
        <li><a rel="me" href="https://merveilles.town/@jere">Mastodon</a></li>
    </ul>
</nav>
